body {
    .text {
        font-size: 66px;
        text-align: center;
        
    }
    
    .img {
      background: url(img/IMG_1.jpg);
    background-size: cover;
    }
    
    h1{
        background-size: cover;
        color: #656262;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }
    
        
    
    

}
